
.editor-layout{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f3f4f6;
}

.sidebar{
    width: 300px;
    background-color: var(--sidebar-bg);
    border-right: 1px solid var(--sidebar-border);
    display: flex;
    flex-direction: column;
    z-index: 10;
    color: var(--text-main);
}

.sidebar.properties{
    border-right: none;
    border-left: 1px solid #e5e7eb;
}

.canvas-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.viewport{
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}