<div class="viewport" (mousedown)="startDragging($event)" (contextmenu)="$event.preventDefault()">
  
  <div class="infinite-surface" [style.transform]="surfaceTransform()">
    
    @for (page of editor.pages(); track page.id) {
      <div class="page-container" [style.left.px]="page.x" [style.top.px]="page.y" (mousedown)="startDragging($event)">
        <div class="page-label">{{ page.name }}</div>
        
        <div class="page-paper" 
             (dragover)="onDragOver($event)" 
             (drop)="onDrop($event, page.id)">
          
          @for (w of page.widgets; track w.id) {
            <app-widget-renderer 
              [widget]="w" 
              [pageId]="page.id">
            </app-widget-renderer>
          }

        </div>
      </div>
    }

  </div>

  <div class="canvas-controls">
    <span>Zoom: {{ (zoom() * 100).toFixed(0) }}%</span>
  </div>
</div>