@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap');

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-bg: #1e1e1e;
    --sidebar-border: #333333;
    --item-bg: #2d2d2d;
    --item-hover: #3e3e3e;
    --text-main: #e0e0e0;
    --text-second: #999999;
    --accent: #3b82f6;
}
